<div class=container>
    <app-item name="Free Ticket" 
    desc="Free ticket for anyone to make a valuable contribution towards our future online events programme. Thank you."
    [price]="0"
    [hoursLeft]="1"></app-item>
    <app-line></app-line>
    <app-item name="Alumni Base Ticket"
    desc="This livestream will broadcast via a private YouTube link that will be sent to ticket purchasers an hour prior to showtime"
    [price]="95.99"
    [hoursLeft]="120"></app-item>
    <app-line></app-line>
    <app-item name="Alumni VIP Ticket"
    desc="This livestream will broadcast via a private YouTube link that will be sent to ticket purchasers an hour prior to showtime"
    [price]="3500.00"
    [hoursLeft]="120"></app-item>
    <app-line></app-line>
    <app-donate name="Donate"
    desc="Access to arts is vital. Pay what you can."></app-donate>
    <app-line></app-line>
</div>
